body {
	font: 17px Tibetan Machine Uni, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

.container {
	margin: auto;
	max-width: 90%;
	overflow: hidden;
}

ul {
	margin: 0;
	padding: 0;
}

header {
	background: #35424a;
	color: white;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: orange 3px solid;
}

header span {
	color: #d56d54;
}

section .container1 {
	width: 100%;
	margin: 0;
	color: #45e4e4;
	font-size: 14pt;
	overflow: hidden;
	background-color: #344870;
}

section ul {
	color: #7b0c44;
	font-size: 12pt;
	margin: 25px;
}

header .container {
	width: 100%;
	margin-right: 30px;
	overflow: hidden;
}

header a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li {
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding {
	float: left;
}

header #branding h1 {
	margin: 0;
	padding-left: 25px;
}

header nav {
	float: right;
	margin-top: 10px;
	margin-bottom: 6px;
	padding-right: 20px;
}

header .current a {
	color: #e8491d;
	font-weight: bold;
}

.current {
	color: #e8491d;
	font-weight: bold;
}

#branding .highlight {
	color: #e8491d;
	font-weight: bold;
}

#showcase {
	overflow: hidden;
	background: url('../img/showcase.jpeg') no-repeat;
	background-size: 100% 100%;
	text-align: center;
	border-bottom: orange 3px solid;
}

#showcase h2 {
	margin-top: 35px;
	font-size: 35px;
	margin-bottom: 25%;
	color: #8411c3;
}

#showcase p, pre {
	margin-top: 15px;
	margin-left: 33px;
	text-align: left;
	font-size: 10pt;
	color: rgb(210, 227, 252);
}

#showcase .container1 {
	width: 90%;
	margin-right: 25px;
	overflow: hidden;
}

#showcase img {
	height: 240px;
	width: 320px;
	float: left;
	margin: 25px;
	margin-left: 0px;
	margin-top: 0;
	border-radius: 18px;
}

.image {
	height: 240px;
	width: 320px;
	overflow: hidden;
	border-radius: 18px;
	margin-top: 15px;
}

.image2 {
	height: 360px;
	width: 240px;
	overflow: hidden;
	margin: 0 auto;
	border-radius: 18px;
}

.image img, .image2 img {
	transition: transform 2s, filter 1.5s ease-in-out;
	transform-origin: center center;
	filter: brightness(85%);
}

.image:hover img, .image2:hover img {
	filter: brightness(115%);
	transform: scale(1.2);
}

.content {
	display: flex;
	max-width: 60%;
	align-content: space-around;
}

.content a {
	color: #04c504;
}

#details {
	width: 320px;
	margin: 25px;
	margin-top: 0;
	border-radius: 18px;
}

#details p, pre {
	margin: 0;
	padding: 10px;
}

footer {
	padding: 1px;
	color: #e4ebf2;
	background-color: #14283d;
	text-align: center;
	background-size: 100% 20px;
	font-family: Century Schoolbook L;
}

.content2 {
	display: flex;
	margin: auto;
	max-width: 60%;
	align-content: space-around;
}

#showcase2 {
	color: #f4c00a;
	text-align: center;
	font-size: 15pt;
	min-height: 550px;
	background: url('../img/oscars.jpg') no-repeat;
	background-size: 100% 100%;
	border-bottom: orange 3px solid;
	padding-top: 25px;
}

#boxes1 h3 {
	text-align: center;
	font-size: 30pt;
}

#boxes1 {
	margin: 0;
	background-color: #b0c1d5;
}

#boxes1 img {
	height: 360px;
	width: 240px;
	border-radius: 18px;
}

#boxes1 .box {
	overflow: hidden;
	float: left;
	text-align: left;
	width: 24%;
	margin: 0px 2.5% 0px 2%;
	padding: 2%;
}

#boxes .box1 {
	text-align: left;
	width: 420px;
	margin: 25px;
}

@media(max-width:768px) {
	header #branding, header nav, header nav li, #showcase .container, #boxes .box1, #boxes1 .box {
		float: none;
		text-align: center;
		width: 90%;
	}

	#showcase h2 {
		margin-top: 15px;
	}

}

.welcome {
	text-align: center;
	font-size: 24px;
	color: darkblue;
	border-top: 3px solid orange;
	border-bottom: 3px solid orange;
	background: url('../img/IUT.jpg') no-repeat;
	background-size: 100% 100%;
	height: 720px;
}

.video {
	border-top: orange 3px solid;
	border-bottom: orange 3px solid;
	max-height: 480px;
	display: flex;
	justify-content: center;
	background-color: #b0c1d5;
}

video {
	max-width: 480px;
	height: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

#film {
	border-bottom: 4px orange solid;
	display: flex;
	justify-content: space-around;
	background-color: #0D2D45;
}

#film video {
	object-fit: cover;
	margin: 0;
}

#film .video {
	float: left;
	width: 40%;
	border: none;
	margin: 5px;
	background-color: unset;
}
