---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import FeaturedProject from "../components/FeaturedProject.astro";
import Skills from "../components/Skills.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
  <Navbar />
  <main>
    <Hero />
    <About />
    <Experience />
    <FeaturedProject />
    <Skills />
    <Contact />
    <Footer />
  </main>
</BaseLayout>
